/* CSS Document */
@font-face {
  font-family: 'ny';
  src: url("https://sites.super.so/slite/assets/ny.woff") format("woff"), url("https://sites.super.so/slite/assets/ny.ttf") format("truetype"); }
p {
  font-family: Epilogue, Helvetica, 'Nunito', sans-serif;
  font-size: 16px; }

/*-------------------------------------------*/
/*---------------- VARIABLES ----------------*/
/*-------------------------------------------*/
:root {
  /*
      --transition: all .3s cubic-bezier(0.8,0.04,0.4,1) !important;
      --column-spacing: 30px !important;
  */
  --font: 'ny', serif !important;
  --text-color: black; }

/*-------------------------------------------*/
/*-------------- FADE ANIMATION -------------*/
/*-------------------------------------------*/
body {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  background-attachment: fixed;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  animation: fadeIn 1s;
  align-content: center;
  color: var(--text-color);
  transition: color 0.3s ease;
  padding: 0;
  margin: 0; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*-------------------------------------------*/
/*-------------- MISCELLANEOUS --------------*/
/*-------------------------------------------*/
.max-width {
  max-width: 85% !important;
  width: 600px !important;
  padding: 0 !important; }

.super-content {
  padding-left: calc(env(safe-area-inset-left) + 96px);
  padding-right: calc(env(safe-area-inset-right) + 96px);
  padding-bottom: 30vh; }

.super-content.max-width {
  max-width: 900px;
  margin: auto; }

.static-renderer.mobile .super-content {
  padding-left: calc(env(safe-area-inset-left) + 24px);
  padding-right: calc(env(safe-area-inset-right) + 24px);
  padding-bottom: 180px; }

@media (max-width: 546px) {
  .super-content {
    padding-left: calc(env(safe-area-inset-left) + 24px);
    padding-right: calc(env(safe-area-inset-right) + 24px);
    padding-bottom: 180px; } }
.super-content {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
  padding: 0 0 60px;
  /*	padding: 0 0 ;*/
  /*	width:50%;*/ }

@keyframes fadeInLeft {
  0% {
    transform: translate3d(-40px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInLeft {
  0% {
    transform: translate3d(-40px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeInLeft {
  0% {
    transform: translate3d(-40px, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }
/*-------------------------------------------*/
/*--------------- TYPOGRAPHY ----------------*/
/*-------------------------------------------*/
.protected {
  color: black; }

@keyframes glitchy {
  0% {
    transform: translate(-2px, 2px); }
  25% {
    transform: translate(-2px, -2px); }
  50% {
    transform: translate(2px, 2px); }
  75% {
    transform: translate(2px, -2px); }
  100% {
    transform: translate(-2px, 2px); } }
@keyframes glitchy-automate {
  0% {
    transform: translate(-2px, 2px); }
  6% {
    transform: translate(-2px, -2px); }
  12% {
    transform: translate(2px, 2px); }
  19% {
    transform: translate(2px, -2px); }
  25% {
    transform: translate(0px, 0px); } }
@keyframes whiten-on-glitch {
  0% {
    -webkit-text-stroke-color: transparent; }
  50% {
    -webkit-text-stroke-color: transparent; }
  100% {
    -webkit-text-stroke-color: transparent; } }
@keyframes whiten-on-glitch-automate {
  0% {
    -webkit-text-stroke-color: transparent; }
  25% {
    -webkit-text-stroke-color: transparent; }
  30% {
    -webkit-text-stroke-color: var(--text-color); } }
.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.nav a {
  position: relative;
  display: inline-block;
  font-family: var(--font);
  text-decoration: none;
  /*    font-weight: 100;*/
  font-size: 45px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
  /*	float:left;*/
  z-index: 1;
  transition: color 0.3s ease; }

.text-link {
  position: relative;
  display: inline-block;
  font-size: 45px;
  text-decoration: none;
  color: #fff;
  z-index: 1; }
  .text-link:before, .text-link:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .text-link:before {
    color: #00ffff;
    z-index: -1; }
  .text-link:after {
    color: #ff00ff;
    z-index: -2; }
  .text-link:hover:before {
    animation: glitchy 0.3s ease 0.3s infinite; }
  .text-link:hover:after {
    animation: glitchy 0.3s ease infinite reverse; }

/*glitch ref https://codepen.io/origine/pen/qaKkPE */
h1, h2, h3 {
  font-family: var(--font);
  font-weight: 100; }

h1 {
  margin-top: 20px;
  font-size: 60px; }

h2 {
  font-size: 30px; }

h3 {
  margin: 12px 0; }

p {
  line-height: 2.4; }

.top-nav-wrapper {
  width: 100vw;
  background-color: transparent;
  display: table; }

.top-nav {
  width: 100vw;
  display: table-cell;
  vertical-align: middle; }
  .top-nav .top-nav-entry {
    transform: translateX(80vw);
    display: inline-block;
    height: 20px;
    width: 50px;
    margin-right: calc(20px + 2vw);
    padding: 10px 20px 10px 20px;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.8, 0.04, 0.4, 1); }
    .top-nav .top-nav-entry:hover {
      padding: 15px 25px 15px 25px;
      margin-right: calc(10px + 2vw); }
  .top-nav a {
    font-family: quiche-sans;
    font-size: 12px;
    font-weight: 100;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.3s ease; }
  .top-nav a:hover {
    color: black; }

/*-------------------------------------------*/
/*----------------- MOBILE ------------------*/
/*-------------------------------------------*/
@media (max-width: 800px) {
  h1 {
    font-size: 32px; } }
