/* CSS Document */

@font-face {
    font-family: 'ny';
    src:  url('https://sites.super.so/slite/assets/ny.woff') format('woff'),
          url('https://sites.super.so/slite/assets/ny.ttf') format('truetype');
}

p {
	font-family: Epilogue, Helvetica, 'Nunito', sans-serif;
	font-size:16px;
}


/*-------------------------------------------*/
/*---------------- VARIABLES ----------------*/
/*-------------------------------------------*/

:root {
    --font: 'ny', serif !important;
	--text-color: black;
	--top-navbar-height:100px;
}

/*-------------------------------------------*/
/*-------------- FADE ANIMATION -------------*/
/*-------------------------------------------*/

body {
//	background: radial-gradient(30% 55.51% at 94% 96%, #FFD3C7 0%, rgba(255, 211, 200, 0.04) 100%), rgba(255,235,225,0.65);
	background-color: rgba(255,235,225,0.65);
	background-attachment: fixed;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    animation: fadeIn 1s;
	align-content: center;
	color: var(--text-color);
	transition: color 0.3s ease;
	padding:0;
	margin:0;
//	font-family:quiche-sans,sans-serif;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }

.single-gradient {
	content: '';
	height: 200vh; width:100vw;
	position:absolute;
	background: radial-gradient(30% 55.51% at 94% 43%, #FFD3C7 0%, rgba(255, 211, 200, 0.04) 100%), rgba(255,235,225,0.65);
	filter:blur(40px);
	z-index:-1;
}

/*-------------------------------------------*/
/*-------------- MISCELLANEOUS --------------*/
/*-------------------------------------------*/
.main {
	position:fixed; 
	top: 0;
	left: 0;
	display:table;
	height: 100%;
	width:100%;
	table-layout: fixed;
	transition: opacity 0.3s ease;
}


.vert-center {
	display:table-cell;
	vertical-align: middle;
	width:100%;
}

.max-width, .max-width-gone {
    max-width: 85% !important;
    width: 600px !important;
    padding: 0 !important;
	margin-left:auto;
	margin-right: auto;
	transition: all 1s ease;
}

.max-width {
	-webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
//	opacity:1;
}

.max-width-gone {
	-webkit-animation: fadeOutRight 1s;
    -moz-animation: fadeOutRight 1s;
    animation: fadeOutRight 1s;
}


.sub-page {
	z-index:1;
}

.static-renderer.mobile .super-content{padding-left:calc(env(safe-area-inset-left) + 24px);padding-right:calc(env(safe-area-inset-right) + 24px);padding-bottom:180px}
@media (max-width:546px){.super-content{padding-left:calc(env(safe-area-inset-left) + 24px);padding-right:calc(env(safe-area-inset-right) + 24px);padding-bottom:180px}}


@keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); opacity:1; } }
@-moz-keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); opacity:1;} }
@-webkit-keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); opacity:1;} }

@keyframes fadeOutRight { 100% { transform: translate3d(40px,0,0); opacity:0; } 0% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeOutRight { 100% { transform: translate3d(40px,0,0); opacity:0;} 0% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeOutRight { 100% { transform: translate3d(40px,0,0); opacity:0;} 0% { transform: translate3d(0,0,0); } }

/*-------------------------------------------*/
/*--------------- TYPOGRAPHY ----------------*/
/*-------------------------------------------*/
.protected {
	color:black;
}

.nav {
	margin-top: 20px;
	display:flex;
	justify-content: space-between;
}
.nav span {
    position: relative;
	display: inline-block;
	font-family: var(--font);
	text-decoration: none;
    font-size: 45px;
	color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
	z-index: 1;
	transition: color 0.3s ease;
}

.text-link {
    position: relative;
    display: inline-block;
    font-size: 45px;
    text-decoration: none;
    color: #fff;
    z-index: 1;
    
    &:before,
    &:after {
        content:attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    &:before {
        color: #00ffff;
        z-index: -1;
    }

    &:after {
        color: #ff00ff;
        z-index: -2;
    }
    
    &:hover {
        &:before {
            animation: glitchy 0.3s ease 0.3s infinite;
        }
        
        &:after {
            animation: glitchy 0.3s ease infinite reverse;
        }
    }
}



h1, h2, h3 {
    font-family: var(--font);
    font-weight: 100;
}

h1 {
	margin-top: 0px;
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    margin: 12px 0;
}

p {
    line-height: 2.4;
}


.top-nav-wrapper {
	width:100vw;
//	background-color:blue;
	background-color:transparent;
	display:table;
	position:fixed;
}

.top-nav {
	width:100vw;
//	align-items:right;
//	align-content: right;
	display:table-cell;
//	background-color:gray;
	vertical-align: middle;
	.top-nav-entry {
		transform: translateX(80vw); //TO-DO: make this work on smaller screens
		display: inline-block;
		height: 20px;
		width:50px;
//		background-color:blue;
		margin-right:calc(20px + 2vw);
		padding:10px 20px 10px 20px;
//		margin-top: 20px;
		border: 1px solid;
		border-radius:50%;
		text-align:center;
		transition: all 0.3s cubic-bezier(0.8,0.04,0.4,1);
		&.active {
			border-color: #bbbbbb;
		}
		&.active:hover {
//			padding: 15px 25px 15px 25px;
//			transform:scale(1.5);
//			margin-right:calc(10px + 2vw)
		}
		&.inactive {
			border-color: transparent;
		}
		&.inactive:hover {
			border-color: #bbbbbb;
//			animation: unravel 0.3s cubic-bezier(0.8,0.04,0.4,1);
		}
	}
	
	
	a {
		font-family: quiche-sans;
		font-size:12px;
		font-weight: 100;
		text-decoration:none;
//		margin-top:20px;
		color:rgba(0,0,0,0.7);
		transition:color 0.3s ease;
	}
	a:hover{
		color:black;
	}
}



.button-border {
	background-clip:border-box;
	background-color:white;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	box-shadow:rgba(0, 0, 0, 0.1) 0px 10px 20px -10px;
	box-sizing:border-box;
	color:black;
	display:flex;
	padding-bottom:24px;
	padding-left:24px;
	padding-right:24px;
	padding-top:24px;
	position:relative;
	transition-duration: 0.3s;
	transition-property:all;
	transition-timing-function:cubic-bezier(0.8, 0.04, 0.4, 1);
	width:64px;
	word-break:break-word;
	
	max-height:64px;
	
	&:hover {
		width:157.5px;
		background-color:#F6F6F6;	
		.button-content:after {
			content:attr(content);
		}
		.button-image {
			opacity:0;
			position:absolute;
		}
	}
	.button-content {
		content:'';
		width:100%;
		overflow-x:hidden;
		white-space: nowrap;
		text-align: center;
		align-items:center;
		font-family: Epilogue, Helvetica, 'Nunito', sans-serif;
		font-size:16px;
	}
	
	.button-image {
		align-items:center;
		height:16px;
		content: url('download-links.png');
		opacity:1;
	}

}

.medium-enumerator {
	font-family: quiche-sans,sans-serif; display:inline-block; color:black;
}

.tightcell {
	width: 1%;white-space: nowrap;text-align: right;
}


.gradient-ball {
	content:'';
//	height: 400px;
//	width:400px;
	position:fixed;
	background-image: url('gradient-images/grad1.png');
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(80px);
	animation: rotate 50s linear infinite, cycle 73s linear infinite;
	opacity: 0.3;
	z-index:-1;
	transition: all 2s ease;
}

.gradient-ball.large {
	height:100vw;width:100vw;margin-top:-30vh;margin-left: -20vw;
}

.gradient-ball.small {
	height: 400px;
	width:400px;
	margin-left:65vw;
	margin-top:40vh;
	filter: blur(60px) !important;
	opacity:0.4 !important;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg); 
	} 
}

@keyframes cycle {
	0%, 100% {
		background-image: url('../gradient-experiment-2/gradient-images/grad1.png');
	}
	17% {
		background-image: url('../gradient-experiment-2/gradient-images/grad2.png');
	}
	33% {
		background-image: url('../gradient-experiment-2/gradient-images/grad3.png');
	}
	49% {
		background-image: url('../gradient-experiment-2/gradient-images/grad4.png');
	}
	65% {
		background-image: url('../gradient-experiment-2/gradient-images/grad5.png');
	}
	82% {
		background-image: url('../gradient-experiment-2/gradient-images/grad6.png');
	}
}



/*-------------------------------------------*/
/*----------------- MOBILE ------------------*/
/*-------------------------------------------*/

@media (max-width: 800px) {
    h1 {
        font-size: 32px;
    }
}


